@model ESkript.Models.NoteCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NoteCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScriptContent1.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScriptContent1.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdNote }) |
    @Html.ActionLink("Back to List", "Index")
</p>
