@model ESkript.Models.TextCard

@{
    ViewBag.Title = "Create";
}


<h2>Text für @ViewBag.Titel erstellen</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <h3>
                @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            </h3>
            <div class="col-lg-10">
                @Html.TextAreaFor(model => model.Text, 20, 150, new { htmlAttributes = new { @class = "form-control col-lg-10",@id="my-textarea" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Save" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Speichern
                </button>
            </div>
        </div>
    </div>
}
<br />
<br />
<br />
<hr />
<div>
    @Html.ActionLink("Zurück", "ReadEditMode", "ScriptContent", new { id = @ViewBag.Id }, null)
</div>