@model IEnumerable<ESkript.Models.TextCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.ScriptContent.Titel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ScriptContent.Titel)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdTextCard }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdTextCard }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdTextCard })
        </td>
    </tr>
}

</table>
