@model IEnumerable<ESkript.Models.Script>

@{
    ViewBag.Title = "God Mode";
}

<h2>Administrator Übersicht aller Skripte</h2>
<br />
<br />
<button type="button"
        class="btn btn-default btn-lg"
        onclick="location.href='@Url.Action("Create", "Script")'">
    <span class="glyphicon glyphicon-plus"></span> Skript erstellen
</button>
<br />
<br />
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InWork)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.FirstName) @Html.DisplayFor(modelItem => item.Account.LastName)
            </td>
            <td>
                @Html.ActionLink(item.Subject, "Read", "ScriptContent", new { id = item.IdScript }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @if (item.InWork == true) {
                    <p>Wird bearbeitet</p>
                } else {
                    <p>Fertiggestellt</p>
                }
            </td>
            <td>
                <button type="button"
                        class="btn btn-default btn-sm"
                        onclick="location.href='@Url.Action("Read", "ScriptContent", new { id = item.IdScript })'">
                    <span class="glyphicon glyphicon-play"></span> Lesen
                </button>

                <button type="button"
                        class="btn btn-default btn-sm"
                        onclick="location.href='@Url.Action("ReadFirst", "ScriptContent", new { id = item.IdScript })'">
                    <span class="glyphicon glyphicon-play-circle"></span> Einzelkarten Ansicht
                </button>

                @if (item.InWork == true) {
                    <button type="button"
                            class="btn btn-default btn-sm"
                            onclick="location.href='@Url.Action("ReadEditMode", "ScriptContent", new { id = item.IdScript })'">
                        <span class="glyphicon glyphicon-cog"></span> Bearbeitungsmodus
                    </button>
                    <button type="button"
                            class="btn btn-default btn-sm"
                            onclick="location.href='@Url.Action("Publish", "Script", new { id = item.IdScript })'">
                        <span class="glyphicon glyphicon-cloud-upload"></span> Veröffentlichen
                    </button>
                } else {
                    <button type="button"
                            class="btn btn-default btn-sm"
                            onclick="location.href='@Url.Action("Revoke", "Script", new { id = item.IdScript })'">
                        <span class="glyphicon glyphicon-lock"></span> Sperren
                    </button>
                }

            </td>
        </tr>
    }
</table>
